@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.container {
width: 80%;
margin: auto;
display: flex;
justify-content: center;
align-items: center;
background-color: #fdeeee;
font-family: 'Roboto', sans-serif; /* apply imported font */
}

.container img {
margin-right: 20px;
width: 40%;
height: auto;
border-radius: 5px;
opacity: 0;
transform: translateX(-20px);
transition: all 0.5s ease;
}

.container p {
font-size: 20px;
line-height: 1.5;
text-align: justify;
margin: 0 auto;
width: 80%;
transition: all 0.5s ease;
}

h1 {
font-size: 40px;
text-align: center;
margin-top: 50px; 
margin-bottom: 30px;
text-transform: uppercase; 
}

p {
font-size: 20px;
line-height: 1.5;
text-align: justify;
margin: 0 auto;
width: 80%;
}

img {
width: 50%;
height: auto;
border-radius: 5px;
}

.show {
opacity: 1;
}

.show img {
opacity: 1;
transform: translateX(0);
}